<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.akostikov.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".FerrysApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_start"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_start"
        android:supportsRtl="true"
        android:theme="@style/FerryAppTheme">

        <activity
            android:name="com.akostikov.app.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akostikov.app.main_view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.akostikov.app.results_view.ResultsActivity"
            android:parentActivityName="com.akostikov.app.main_view.MainActivity"
            android:label="@string/search_results">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.akostikov.app.menu_pages.FerrysPageActivity"
            android:parentActivityName="com.akostikov.app.main_view.MainActivity"
            android:label="@string/ferry_companies">
        </activity>

        <activity
            android:name="com.akostikov.app.menu_pages.FerryDetailActivity"
            android:parentActivityName="com.akostikov.app.menu_pages.FerrysPageActivity">
        </activity>

        <activity
            android:name="com.akostikov.app.menu_pages.IslandsPageActivity"
            android:parentActivityName="com.akostikov.app.main_view.MainActivity"
            android:label="@string/islands">
        </activity>

        <activity
            android:name="com.akostikov.app.menu_pages.MapPageActivity"
            android:parentActivityName="com.akostikov.app.menu_pages.IslandsPageActivity">
        </activity>

        <activity
            android:name="com.akostikov.app.menu_pages.InfoPageActivity"
            android:parentActivityName="com.akostikov.app.main_view.MainActivity"
            android:label="@string/about_title">
        </activity>
    </application>

</manifest>